@font-face {
  font-family: 'Burst My Bubble';
  src: url('fonts/burstmybubble-webfont.woff2') format('woff2'),
       url('fonts/burstmybubble-webfont.woff') format('woff'),
       url('fonts/BurstMyBubble.ttf') format('truetype');
}

body {margin: 0;}

.f-headline {font-size: 5rem;}


.montserrat{font-family: 'Montserrat', sans-serif;}
.bmb{font-family: 'Burst My Bubble', sans-serif;}
// .lodrina{font-family: 'Londrina Sketch', cursive;}

@media #{$breakpoint-not-small} {
  .f-body-ns {
    font-size: 1.75rem;
  }
  .f-headline {
    font-size: 7rem;
  }
}
@media #{$breakpoint-medium} {

}
@media #{$breakpoint-large} {
  .f-headline {
    font-size: 12rem;
  }
}
@media #{$breakpoint-extra-large} {

}
