
.icon-emo-grin:before { content: '\e800'; } /* '' */
.icon-emo-sunglasses:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */