---
layout: layouts/base
---
<div class="container about-container">
  <nav class="about-sidebar">
    <ul>
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#now">Now</a>
      </li>
      <li>
        <a href="#work">Work</a>
      </li>
    </ul>
  </nav>
  <section class="about-content">
    <h1>About</h1>
    <h2>Work History</h2>
    <h3>Frontend developer</h3>
    <p>
      asf
    </p>
    <h2>Now</h2>
  </section>
</div>
