---
layout: layouts/base
title: Bookmarks - Muhammad Althaf
bookmarks:
  - title: A Day at the Park
    author: Kostas Kiriakakis
    url: http://kiriakakis.net/comics/mused/a-day-at-the-park
    tags: comic
  - title: The Cognitive Bias Codex
    author: Wikipedia
    url: https://upload.wikimedia.org/wikipedia/commons/6/65/Cognitive_bias_codex_en.svg
  - title: How to do nothing
    author: Jenny Odell
    url: https://medium.com/@the_jennitaur/how-to-do-nothing-57e100f59bbb
  - title: Timeless Web Dev Articles
    author: Chris Coyier
    url: https://css-tricks.com/timeless-web-dev-articles/
  - title: The Web's Grain
    author: Frank Chimero
    url: https://frankchimero.com/writing/the-webs-grain/
  - title: Ethical Alternatives & Resources 
    author: Ethical.net
    url: https://ethical.net/resources/
    tags: collection
  - title: I miss the mob
    author: Derek Sivers
    url: https://sivers.org/the-mob
---
<div class="container">
  <div class="hero">
    <h1>Bookmarks</h1>
    <h2 class="subtitle">Noteworthy artifacts from the interwebs</h2>
  </div>
  <section class="bookmarks">
    <ul>
      {% for bookmark in bookmarks %}
        <li>
          <a href="{{bookmark.url}}">
            <span class="bookmark-link">{{ bookmark.title }} </span>
            <span class="bookmark-tags"> {{bookmark.tags }}</span>
            <span class="bookmark-author">{{ bookmark.author }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>